 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
 

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Internship </h6>
        </div>
        <div class="card-body">
            <a data-toggle="modal" data-target="#AddModal"class="btn btn-primary  m-2" style="float: right">Add</a>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>status</th>
                            <th>requirements</th>
                            <th>duration_weeks</th>
                            <th>spots_available</th>
                            <th>category</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>title</th>
                            <th>status</th>
                            <th>requirements</th>
                            <th>duration_weeks</th>
                            <th>spots_available</th>
                            <th>category</th>

                            <th>Actions</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of dataArray,index as i ">
                            <th>{{ item.title }}</th>
                            <th>{{ item.status }}</th>
                            <th>{{ item.requirements }}</th>
                            <th>{{ item.duration_weeks }}</th>
                            <th>{{ item.spots_available }}</th>
                            <th>{{ item.category }}</th>

                            <th>
                                <button class="btn btn-success" (click)="getbyidInternship(item._id)" data-toggle="modal" data-target="#UpdateModal">Update</button>
                                <button class="btn btn-info m-2" (click)="getbyidInternship(item._id)" data-toggle="modal" data-target="#DetailModal">Details</button>
                                <button class="btn btn-danger m-2" data-toggle="modal" data-target="#DeleteConfirmation"(click)="openAcceptModal(item, i)">Delete</button>

                            </th>

                        </tr>
                  
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>


    <!-- Detail Modal -->  
 
  <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Internship Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <ul *ngIf="databyid">
                <li>ID :{{ databyid._id }}</li>
                <li>title :{{ databyid.title }}</li>
                <li>description :{{ databyid.description }}</li>
                <li>requirements :{{ databyid.requirements }}</li>
                <li>duration_weeks :{{ databyid.duration_weeks }}</li>
                <li>start_date :{{ databyid.start_date }}</li>
                <li>end_date :{{ databyid.end_date }}</li>
                <li>max_candidates :{{ databyid.max_candidates }}</li>
                <li>spots_available :{{ databyid.spots_available }}</li>
                <li>status :{{ databyid.status }}</li>

            </ul>
            
            <div class="alert alert-danger" *ngIf="messageErr">
                {{messageErr}}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

  
<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #x="ngForm" (ngSubmit)="AddUser(x)">
             
                     <!-- title validation start here -->
                     <div class="form-group">
                
                        <label for="exampleFormControlInput1">title</label>
                        <input type="text" class="form-control" placeholder="title" required name="title" #name="ngModel" ngModel minlength="2" maxlength="20">
                      </div>
                   

                       <!-- description validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">description</label>
                        <input type="text" class="form-control" placeholder="description" required name="description" #description="ngModel" ngModel minlength="2" maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="description.errors?.['required'] && description.touched">
                        description is required
                      </div>
                      <div class="alert alert-danger" *ngIf="description.errors?.['minlength'] && description.touched">
                        description must be minimum 2 caractere
                      </div>

                       <!-- requirements validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">requirements</label>
                        <input type="text" class="form-control" placeholder="requirements" required name="requirements" #requirements="ngModel" ngModel minlength="2" maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="requirements.errors?.['required'] && requirements.touched">
                        requirements is required
                      </div>
                      <div class="alert alert-danger" *ngIf="requirements.errors?.['minlength'] && requirements.touched">
                        requirements must be minimum 2 caractere
                      </div>

                       <!-- duration_weeks validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">duration_weeks</label>
                        <input type="text" class="form-control" placeholder="duration_weeks" required name="duration_weeks" #duration_weeks="ngModel" ngModel minlength="1" maxlength="2">
                      </div>
                      <div class="alert alert-danger" *ngIf="duration_weeks.errors?.['required'] && duration_weeks.touched">
                        duration_weeks is required
                      </div>
                      <div class="alert alert-danger" *ngIf="duration_weeks.errors?.['minlength'] && duration_weeks.touched">
                        duration_weeks must be minimum 2 caractere
                      </div>

                       <!-- start_date validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">start_date</label>
                        <input type="text" class="form-control" placeholder="start_date" required name="start_date" #start_date="ngModel" ngModel minlength="2" maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="start_date.errors?.['required'] && start_date.touched">
                        start_date is required
                      </div>
                      <div class="alert alert-danger" *ngIf="start_date.errors?.['minlength'] && start_date.touched">
                        start_date must be minimum 2 caractere
                      </div>

                       <!-- end_date validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">end_date</label>
                        <input type="text" class="form-control" placeholder="end_date" required name="end_date" #end_date="ngModel" ngModel minlength="2" maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="end_date.errors?.['required'] && end_date.touched">
                        end_date is required
                      </div>
                      <div class="alert alert-danger" *ngIf="end_date.errors?.['minlength'] && end_date.touched">
                        end_date must be minimum 2 caractere
                      </div>

                       <!-- max_candidates validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">max_candidates</label>
                        <input type="text" class="form-control" placeholder="max_candidates" required name="max_candidates" #max_candidates="ngModel" ngModel  maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="max_candidates.errors?.['required'] && max_candidates.touched">
                        max_candidates is required
                      </div>
                      <div class="alert alert-danger" *ngIf="max_candidates.errors?.['minlength'] && max_candidates.touched">
                        max_candidates must be minimum 2 caractere
                      </div>

                       <!-- spots_available validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">spots_available</label>
                        <input type="text" class="form-control" placeholder="spots_available" required name="spots_available" #spots_available="ngModel" ngModel  maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="spots_available.errors?.['required'] && spots_available.touched">
                        spots_available is required
                      </div>
                      <div class="alert alert-danger" *ngIf="spots_available.errors?.['minlength'] && spots_available.touched">
                        spots_available must be minimum 2 caractere
                      </div>

                    

                       <!-- status validation start here -->
                    <div class="form-group">
                
                        <label for="exampleFormControlInput1">status</label>
                        <input type="text" class="form-control" placeholder="status" required name="status" #status="ngModel" ngModel maxlength="20">
                      </div>
                      <div class="alert alert-danger" *ngIf="status.errors?.['required'] && status.touched">
                        status is required
                      </div>
                      <div class="alert alert-danger" *ngIf="status.errors?.['minlength'] && status.touched">
                        status must be minimum 2 caractere
                      </div>

                     
                 
                      <div class="form-group">
                
                    
                     
                      <select name="category" #category="ngModel" ngModel >
                        <option value="">Select a Category</option>

                        <option>Front-end</option>
                        <option>Back-end</option>
                        <option>UI/UX design</option>
                        <option>Software development</option>
                        <option>FullStack</option>
                        <option>Mobile development</option>
                        <option>BI</option>
                        <option>development</option>
                        <option>other</option>
  
                       </select>
                       </div>
                      <select (change)="getAllSupervisors()" name="suprivisorid" #suprivisorid="ngModel" ngModel>
                        <option value="">Select a Supervisor</option>
                        <option *ngFor="let supervisor of supervisors" [value]="supervisor._id">{{supervisor.name}}</option>
                      </select>
                      
              
                
                <div class="alert alert-success" *ngIf="messageSuccess">
                  {{messageSuccess}}
               
              </div> 
              <div class="alert alert-danger" *ngIf="messageErr">
               
                {{ messageErr }}
            </div>  
               
                
                
            
                   <button class="btn btn-primary" [disabled]="x.invalid">Add student</button>
                  </form>          
       
      </div>
    </div>
  </div>
</div>

  <!-- Delete confirmation-->
  <div class="modal"  id ="DeleteConfirmation"tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Action</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure you want to Delte this internship ! 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="showModal=false">Cancel</button>
          <button type="button" class="btn btn-danger"data-dismiss="modal" (click)="delete(selectedItem._id,selectedIndex); showModal=false;">Refuse</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #dd="ngForm" (ngSubmit)="UpdateUser(dd)">
           
                   <!-- title validation start here -->
                   <div class="form-group">
              
                      <label for="exampleFormControlInput1">title</label>
                      <input type="text" class="form-control" placeholder="title" required [(ngModel)]="databyid.title" name="title" #name="ngModel" ngModel minlength="2" maxlength="20">
                    </div>
                 

                     <!-- description validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">description</label>
                      <input type="text" class="form-control" placeholder="description" required [(ngModel)]="databyid.description" name="description" #description="ngModel" ngModel minlength="2" maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="description.errors?.['required'] && description.touched">
                      description is required
                    </div>
                    <div class="alert alert-danger" *ngIf="description.errors?.['minlength'] && description.touched">
                      description must be minimum 2 caractere
                    </div>

                     <!-- requirements validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">requirements</label>
                      <input type="text" class="form-control" placeholder="requirements" required [(ngModel)]="databyid.requirements" name="requirements" #requirements="ngModel" ngModel minlength="2" maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="requirements.errors?.['required'] && requirements.touched">
                      requirements is required
                    </div>
                    <div class="alert alert-danger" *ngIf="requirements.errors?.['minlength'] && requirements.touched">
                      requirements must be minimum 2 caractere
                    </div>

                     <!-- duration_weeks validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">duration_weeks</label>
                      <input type="text" class="form-control" placeholder="duration_weeks" required [(ngModel)]="databyid.duration_weeks" name="duration_weeks" #duration_weeks="ngModel" ngModel minlength="1" maxlength="2">
                    </div>
                    <div class="alert alert-danger" *ngIf="duration_weeks.errors?.['required'] && duration_weeks.touched">
                      duration_weeks is required
                    </div>
                    <div class="alert alert-danger" *ngIf="duration_weeks.errors?.['minlength'] && duration_weeks.touched">
                      duration_weeks must be minimum 2 caractere
                    </div>

                     <!-- start_date validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">start_date</label>
                      <input type="text" class="form-control" placeholder="start_date" required  [(ngModel)]="databyid.start_date" name="start_date" #start_date="ngModel" ngModel minlength="2" maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="start_date.errors?.['required'] && start_date.touched">
                      start_date is required
                    </div>
                    <div class="alert alert-danger" *ngIf="start_date.errors?.['minlength'] && start_date.touched">
                      start_date must be minimum 2 caractere
                    </div>

                     <!-- end_date validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">end_date</label>
                      <input type="text" class="form-control" placeholder="end_date" [(ngModel)]="databyid.end_date" required name="end_date" #end_date="ngModel" ngModel minlength="2" maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="end_date.errors?.['required'] && end_date.touched">
                      end_date is required
                    </div>
                    <div class="alert alert-danger" *ngIf="end_date.errors?.['minlength'] && end_date.touched">
                      end_date must be minimum 2 caractere
                    </div>

                     <!-- max_candidates validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">max_candidates</label>
                      <input type="text" class="form-control" placeholder="max_candidates"  [(ngModel)]="databyid.max_candidates" required name="max_candidates" #max_candidates="ngModel" ngModel  maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="max_candidates.errors?.['required'] && max_candidates.touched">
                      max_candidates is required
                    </div>
                    <div class="alert alert-danger" *ngIf="max_candidates.errors?.['minlength'] && max_candidates.touched">
                      max_candidates must be minimum 2 caractere
                    </div>

                     <!-- spots_available validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">spots_available</label>
                      <input type="text" class="form-control" placeholder="spots_available" required  [(ngModel)]="databyid.spots_available"  name="spots_available" #spots_available="ngModel" ngModel  maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="spots_available.errors?.['required'] && spots_available.touched">
                      spots_available is required
                    </div>
                    <div class="alert alert-danger" *ngIf="spots_available.errors?.['minlength'] && spots_available.touched">
                      spots_available must be minimum 2 caractere
                    </div>

                  

                     <!-- status validation start here -->
                  <div class="form-group">
              
                      <label for="exampleFormControlInput1">status</label>
                      <input type="text" class="form-control" placeholder="status" required   [(ngModel)]="databyid.status"  name="status" #status="ngModel" ngModel maxlength="20">
                    </div>
                    <div class="alert alert-danger" *ngIf="status.errors?.['required'] && status.touched">
                      status is required
                    </div>
                    <div class="alert alert-danger" *ngIf="status.errors?.['minlength'] && status.touched">
                      status must be minimum 2 caractere
                    </div>

                   
               
                    <div class="form-group">
              
                  
                   
            
                     </div>
                
                    
            
              
              <div class="alert alert-success" *ngIf="messageSuccess">
                {{messageSuccess}}
             
            </div> 
            <div class="alert alert-danger" *ngIf="messageErr">
             
              {{ messageErr }}
          </div>  
             
              
              
          
                 <button class="btn btn-primary" [disabled]="dd.invalid">Add student</button>
                </form>          
     
    </div>
  </div>
</div>
</div>
