<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="seachText">
                  
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    <ng-container *ngFor="let item of filterCandidates(seachText)">
                        <li class="clearfix"><a (click)="showProgressById(item)">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                        <div class="about">
                            <div class="name">{{ item.nameFL }}</div>
                            <div class="status" style='color:#2187c6' *ngIf="hasRecentProgress(item.progressList)" > <i class="fa fa-circle"  ></i> new </div>
                         
                          </div></a>
                    </li>
                </ng-container>
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                  <div class="row">
                    <div class="col-lg-6">
                      <h4 class="chat-title">Chat</h4>
                    </div>
                   
                  </div>
                </div>
                <div class="chat-history">
                  <ul class="m-b-0">
                    <li *ngFor="let candidate of listOfCandidate">
                      <div class="card">                             
                         <li *ngFor="let progress of progressHold.progressList">

                        <div class="card-header">{{ progress.dateAdd | date: 'MMM d, y'  }}
                          <div class="status" style='color:#2187c6' *ngIf="isRecent(progress.dateAdd)" > <i class="fa fa-circle"  ></i> new </div>                                            

                        </div>
                        <div class="card-body">
                          <ul>
                            Title :  {{ progress.title }}
                         </ul>
                            <ul>
                               Description :  {{ progress.description }}
                            </ul>
                            <ul>
                              Comment : {{ progress.comment }}
                          </ul>
                            </div>
                        </li>

                      </div>
                    </li>
                  </ul>
                </div>
                <div class="chat-message clearfix">
                  <div class="input-group mb-0">
                    <div class="input-group-prepend">
                     
              
    </div>
</div>
</div>