.port__container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2.5rem;
  }
  .port__item{
    background: var(--color-bg-light);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: black;
  }
  .port__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
  }
  .port__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
  }
  .port__item h3{
    margin: 1.2rem 0 2rem;
    color:rgb(21, 21, 21);
  }
  .port__item h5{
    margin: 0.6rem 0 1rem;
    color:red;
  }
  .port__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 1024px){
    .port__container{
        grid-template-columns: 1fr 1fr;
        gap:1.2rem;
    }
  }
  @media screen and (max-width: 600px){
    .port__container{
        grid-template-columns: 1fr ;
        gap:1rem;
    }
  }
  
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1) hue-rotate(180deg);
  
  }
  
  .custom-navbar{
    background-color: #6538e0;
  }
  
  
  .card-deck:hover{
cursor:default;
  }
  .preItemTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: red ;
  }
  .carouselCss{
   background-repeat: no-repeat;
   background-size: 100rem 26rem;

    
  }

  .carousel-indicators li{
    background-color: black;
  }
  .my-img{
    width: 35%;
  }
  
.categoryStyle{
  display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.carousel-caption-transparent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(72, 72, 72, 0.5); /* transparent black */
  padding: 10px;
  color: #fff; /* white text */
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-widget-toggle {
  background-color: #008CBA;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.chat-widget-body {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 250px;
  position: absolute;
  bottom: 50px;
  right: 0;
  display: none;
}


  
.custom-navbar{
  background-color: #6538e0;
}



.preItemTitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: red ;
}

.colorBtn{
  --color: #6538e0;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}
.colorBtn:before {content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;}
  .colorBtn:hover { color: #fff;
}
.colorBtn:before {
top: 100%;
left: 100%;
transition: all .7s;
}
.colorBtn:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .colorBtn:active:before {
  background: #3a0ca3;
 
 }