<div class="container mt-5">
    <h1 class="text-center mb-4">Progress List</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let progress of progressList" class="progress-card">

      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ progress.title }}</h5>
            <p class="card-text">{{ progress.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ progress.dateAdd| date: 'MMM d, y' }}</small>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>




  <!-- ///////////////////////// sort option //////////////////////
<button (click)="sortProgress()" class="btnC">Sort by date</button>
-->
  
  