

<!-- YOU SHOULD DELETE THIS CUZ THE LAYER ALREADY DID THE JOB -->
<!-- YOU SHOULD DELETE THIS CUZ THE LAYER ALREADY DID THE JOB -->
<!-- YOU SHOULD DELETE THIS CUZ THE LAYER ALREADY DID THE JOB -->
<!-- YOU SHOULD DELETE THIS CUZ THE LAYER ALREADY DID THE JOB -->
<!-- YOU SHOULD DELETE THIS CUZ THE LAYER ALREADY DID THE JOB -->
<!-- YOU SHOULD DELETE THIS CUZ THE LAYER ALREADY DID THE JOB -->


<div class="ag-format-container">
  <div class="ag-courses_box">
  
    <div class="ag-courses_item">
      <a (click)="navAddInternship()" class="ag-courses-item_link">
        <div class="ag-courses-item_bg">
        </div>
        <div class="ag-courses-item_title">
          Add intern internship
        </div>
      </a>
    </div>
    <div (click)="navMeetRequest()" class="ag-courses_item">
      <a  class="ag-courses-item_link">
        <div class="ag-courses-item_bg">
        </div>
        <div class="ag-courses-item_title">
          Meet requests
        </div>
      </a>
    </div>
    <div (click)="navProgress()" class="ag-courses_item">
      <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg">
        </div>
        <div class="ag-courses-item_title">
        Interns progress    
        </div>
      </a>
    </div>



  </div>
</div>