<link rel="stylesheet" href="./s.scss">

<section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col text-center mb-3">
           <h1 class="display-4 ">Internships</h1>
    <p class="lead">choose what you see yourself able to acheive and apply !</p>
        </div>
      </div>
        <h3 class="categoryStyle">Internships in the  category </h3>  
       
      
      
              <div class="card-deck">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                  <div class="card text-white card-has-bg click-col" style="background-image:url('../../../../assets/etcLogo.jpg');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column">
                      <div class="card-body">
                        <h4 class="card-title mt-0 "> item.title </h4>
                        <h6 class="card-subtitle mb-2 text-muted">Title :  item.title </h6>
                        <p class="card-text">Main requirement :  item.requirements </p>
                        <h6 class="card-subtitle mb-2 text-muted">Spots Available : item.spots_available </h6>
                        <h6 class="card-subtitle mb-2 text-muted">Status :  item.status </h6>
                        <h6 class="card-subtitle mb-2 text-muted">category :  item.category</h6>
                    
                      </div>
                      <!-- Supervisor part -->
                 
                      </div>
                      <!-- Supervisor part -->
                    </div>
                  </div>
                </div>
                <div class="card-deck">
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-white card-has-bg click-col" style="background-image:url('../../../../assets/etcLogo.jpg');">
                      <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                      <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                          <h4 class="card-title mt-0 "> item.title </h4>
                          <h6 class="card-subtitle mb-2 text-muted">Title :  item.title </h6>
                          <p class="card-text">Main requirement :  item.requirements </p>
                          <h6 class="card-subtitle mb-2 text-muted">Spots Available : item.spots_available </h6>
                          <h6 class="card-subtitle mb-2 text-muted">Status :  item.status </h6>
                          <h6 class="card-subtitle mb-2 text-muted">category :  item.category</h6>
                      
                        </div>
                        <!-- Supervisor part -->
                     
                       <!-- <button class="btnC" (click)="toggleSupervisorInfo(i)" (click)="getSuprevisorProfile(item.suprivisorid)">Supervisor Details</button> -->
                     
                        
                        </div>
                        <!-- Supervisor part -->
                      </div>
                    </div>
                  </div>
              </div>
              
  
  
  </section>
