.port__container{
    display:grid;
    grid-template-columns: repeat(4,2fr);
    gap:2.5rem;
  }
  
  .port__item{
    background: var(--color-bg-light);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: black;
  }
  .port__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
  }
  .port__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
  }
  .port__item h3{
    margin: 1.2rem 0 2rem;
    color:rgb(21, 21, 21);
  }
  .port__item h5{
    margin: 0.6rem 0 1rem;
    color:red;
  }
  .port__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1) hue-rotate(180deg);
  
  }
  
  .custom-navbar{
    background-color: #6538e0;
  }
  
  
  .card-deck:hover{
cursor:default;
  }
  .preItemTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: red ;
  }
  .carouselCss{
   background-image: url('../../../../assets/adminAsset/img/bc3.png');
   background-repeat: no-repeat;
   background-size: 100% 144%; /* Adjust the height based on the image aspect ratio */

    
  }

  .carousel-indicators li{
    background-color: black;
  }
  .my-img{
    width: 35%;
  }
  
.categoryStyle{
  display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.carousel-caption-transparent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(72, 72, 72, 0.5); /* transparent black */
  padding: 10px;
  color: #fff; /* white text */
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-widget-toggle {
  background-color: #008CBA;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.chat-widget-body {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 250px;
  position: absolute;
  bottom: 50px;
  right: 0;
  display: none;
}


  /* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
.searchCustom{


border: 2px;
    border-color: rgb(255, 255, 255);
    
}

