<!-- TopNavBad -->
<nav class="custom-navbar navbar navbar-expand-lg navbar-light p-3 ">
  <a class="navbar-brand " href="#landingpage">
    <img src="../../../assets/etcLogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-primary" routerLink='/landingpage/home'>Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    
    <div class="form-inline my-2 my-lg-0">
      <button *ngIf="!loggedIn" class="btn btn-primary my-2 m-2 my-sm-0" routerLink='/auth/register'>Register</button>
      <button *ngIf="loggedIn" class="btn btn-success my-2 m-2 my-sm-0 colorBtn" (click)="navProfile()">Profile</button>

      <button *ngIf="loggedIn" class="btn btn-success my-2 m-2 my-sm-0 colorBtn" routerLink='/landingpage/applicationstatus'>My applications</button>
      <button *ngIf="loggedIn" class="btn btn-success my-2 m-2 my-sm-0 colorBtn" (click)="navProgress()">My progress</button>


      <button  *ngIf="!loggedIn" class="btn btn-secondary my-2 m-2 my-sm-0" routerLink='/auth/login' >Login</button>
      <button  *ngIf="loggedIn" class="btn btn-danger my-2 m-2 my-sm-0" (click)="logout()">Logout</button>

    </div>
  </div>
</nav>

<!-- carousel-->
 
<button *ngIf="loggedIn" (click)="toggleCard()" class="btn btn-primary rounded-circle position-fixed" style="bottom: 30px; right: 20px; font-size: 26px;">
  <i class="bi bi-list-check"></i>
</button>

<div *ngIf="cardVisible" class="card position-fixed" style="bottom: 80px; right: 20px; width: 300px; z-index: 3;">
  <div class="card-body">
    <h5 class="card-title">Add a progress</h5>
    <p class="card-text">Make it simple and send the details threw the.</p>
    <div class="form-group">
      <label for="progressInput">Enter title:</label>
      <input type="text" class="form-control" id="progressInput" [(ngModel)]="progressTitle">
      <label for="progressInput">Enter progress description (keep it tight):</label>
      <input type="text" class="form-control" id="progressInput" [(ngModel)]="progressDescription">
    </div>
    <button class="btn btn-primary" (click)="addProgress()">Add</button>
  </div>
</div>

 
<router-outlet></router-outlet>

