.port__container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:2.5rem;
}
.port__item{
  background: var(--color-bg-light);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  border-color: black;
}
.port__item:hover{
  border-color: var(--color-primary-variant);
  background: transparent;
}
.port__item-image{
  border-radius: 1.5rem;
  overflow: hidden;
}
.port__item h3{
  margin: 1.2rem 0 2rem;
  color:rgb(21, 21, 21);
}
.port__item h5{
  margin: 0.6rem 0 1rem;
  color:red;
}
.port__item-cta{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px){
  .port__container{
      grid-template-columns: 1fr 1fr;
      gap:1.2rem;
  }
}
@media screen and (max-width: 600px){
  .port__container{
      grid-template-columns: 1fr ;
      gap:1rem;
  }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) hue-rotate(180deg);

}

.custom-navbar{
  background-color: #6538e0;
}



.preItemTitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: red ;
}
.colorBtn{
  --color: #6538e0;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}
.colorBtn:before {content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;}
  .colorBtn:hover { color: #fff;
}
.colorBtn:before {
top: 100%;
left: 100%;
transition: all .7s;
}
.colorBtn:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .colorBtn:active:before {
  background: #3a0ca3;
 
 }
 .cssbuttons-io {
  bottom: 30px; right: 20px; font-size: 26px;
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #ffffff;
  width: 120%;
  left: -10%;
  transform: skew(20deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
.buttonCustom {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 4px;
}

.buttonCustom:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.buttonCustom:active {
  transform: translateY(-1px);
}