<!-- TopNavBad -->
<link rel="stylesheet" type="text/css" href="landingpage-layout.component.css">
<nav class="custom-navbar navbar navbar-expand-lg navbar-light p-4 ">
  <a class="navbar-brand " href="#landingpage">
    <img src="../../../assets/etcLogo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-primary" href="#landingpage">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary my-2 m-2 my-sm-0" type="submit">Register</button>
      <button class="btn btn-secondary my-2 m-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>

<!-- carousel-->
 

 
<router-outlet></router-outlet>

